<!DOCTYPE html>
<html>
<head>
	<title>Instructions</title>
	{% load static %}

	<style>
	h1{
		background: #FFE4E1;
	}
</style>
</head>
<body>

<marquee>
<h1>Strictly Instructions that you have to follow in my Zoo</marquee></h1>
<ul>
	<li>Selfie-sticks, balloons, bicycles, skateboards, skates, hoverboards, heely skate shoes, glass containers or other items that could injure animals or people are not allowed on Zoo grounds.</li>
	<li>No pets are allowed at the Zoo except for service animals. Emotional-support, comfort and companion animals are not permitted for the safety of our collection.</li>
	<li>Alcoholic beverages are not allowed to be brought on Zoo grounds by guests.</li>
	<li>For your safety in the Zoo, please walk. Don’t run.</li>
	<li>Be respectfully quiet. Shouting disturbs animals and other guests.</li>
</ul>
<h2>Lost Children </h2>
<p>Contact any Zoo staff member or Contact on this number:7014984074.Lost Child Bracelet: Pick up a Lost Child Bracelet that can be placed around a child’s arm during their Zoo visit and includes a space for parents or guardians to write their name and cell phone number. If a child should become separated from his/her guardian, this will enable Zoo staff to quickly notify you to reunite you with your child quickly. Bracelets are free and can be picked up at the Train Station located on the Main Plaza.</p>
<h1>Thankyou so much for visiting in my Zoo.</h1>
<br><br>

<a href="{% url 'home'%}">Home Page</a>

</body>
</html>
